<div id="div1" class="container">
    <form>
        <label>Email : </label><br>
        <input type="email" placeholder="Ex : example@abc.com"><br>
        <label>Password : </label><br>
        <input type="password" placeholder="Min 8 characters long"><br>
        <button>Login</button>  &nbsp; <a href="">Forgot Password ?</a>
    </form><br>
        <p>New User ? Register below</p>
        <p>Are you a <button class="regbts" (click)="fr()">Farmer</button> or <button class="regbts" (click)="br()">Bidder</button>  ?</p>
    </div>
    <br><br><br><br>
    