<div class="container2">
<b>Welcome to Farmers Registration portal</b>
</div><br>
<div class="container">
    <form>
        <table>
            <tbody>
                <b>Personal Details :</b><br><br>
                <tr><td align="left"><label>Full Name</label></td><td  align="right"><input  type="text" name="fullname" id="fullname"></td></tr>
                <tr><td align="left"><label>Contact No</label></td><td align="right"><input  type="number" name="contact" id="contact"></td></tr>
                <tr><td align="left"><label>Email</label></td><td align="right"><input  type="email" name="email" id="email"></td></tr><br><br>
                <b>Address Details :</b><br><br>
                <tr><td align="left"><label>H.No/Street</label></td><td  align="right"><input  type="textarea" name="hno" id="hno"></td></tr>
                <tr><td align="left"><label>City</label></td><td align="right"><input  type="text" name="city" id="city"></td></tr>
                <tr><td align="left"><label>State</label></td><td align="right"><input  type="text" name="state" id="state"></td></tr>
                <tr><td align="left"><label>Pincode</label></td><td align="right"><input  type="number" name="pincode" id="pincode"></td></tr><br><br>
                <b>Land Details :</b><br><br>
                <tr><td align="left"><label>Area</label></td><td align="right"><input  type="number" name="area" id="area"></td></tr>
                <tr><td align="left"><label>Address</label></td><td  align="right"><input  type="text" name="addr" id="addr"></td></tr>
                <tr><td align="left"><label>Pincode</label></td><td align="right"><input  type="number" name="pincode" id="pincode"></td></tr><br><br>
                <b>Bank Details :</b><br><br> 
                <tr><td align="left"><label>Account No.</label></td><td align="right"><input  type="number" name="accountno" id="accountno"></td></tr>
                <tr><td align="left"><label>IFSC Code</label></td><td  align="right"><input  type="text" name="ifsc" id="ifsc"></td></tr><br><br>
                <b>Documents Upload :</b><br><br> 
                <tr><td align="left"><label>Aadhar No.</label></td><td align="right"><input  type="text" name="aadhar" id="aadhar"></td></tr>
                <tr><td align="left"><label>Pan No.</label></td><td align="right"><input  type="text" name="pan" id="pan"></td></tr>
                <tr><td align="left"><label>Certificate</label></td><td align="right"><input  type="text" name="certificate" id="certificate"></td></tr><br><br>
                <tr><td align="left"><label>Password</label></td><td align="right"><input  type="password" name="pass" id="pass"></td></tr>
                <tr><td align="left"><label>Confirm Password</label></td><td align="right"><input  type="password" name="cpass" id="cpass"></td></tr><br><br>
                <tr><td align="left"><button type="submit" value="submit">Register</button></td><td align="right"><button type="reset" value="reset">Reset</button></td></tr>
            </tbody>
        </table> 
    </form>
</div>


