#t1
{
    width: 105%;
}
.bts
{
    width: 3cm;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    box-shadow: 6px 6px 6px #cbced1,
                 -6px -6px 6px white;
}
/* #div1
{
    background-color: #ecf0f3;
    width: 10cm;
    height: 8cm;
    margin: auto;
    text-align: center;
} */
