<html>
  <head>
      <title>Index Page</title>
  </head>
  
  <body>
      <hr>
  <table id="t1">
      <tbody>
          <tr><td>&nbsp;<img src="assets/farm.jpg" height="60px" width="60px"></td><td><a href="#" class="btn btn-primary bts">Home</a></td><td><a href="#" class="btn btn-primary bts">About</a></td><td><a routerLink="login" class="btn btn-primary bts">Login</a></td><td><a href="#" class="btn btn-primary bts">Contact-Us</a></td><td>&nbsp;<img src="assets/farm.jpg" height="60px" width="60px"></td></tr>
      </tbody>
  </table>
  <hr>
<br><br><br>

 
</body>
</html> 

<router-outlet></router-outlet>